.overlay {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-note {
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 400px;
    width: 500px;
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

[contenteditable] {
    outline: 0px solid transparent;
}

.popup-title-div {
    min-height: 30px;
}

.popup-title-div:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
}


.popup-body-div {
    height: 300px;
}

.close-button-div {
    display: flex;
    flex-direction: row-reverse;
}

.close-button {
    background-color: #bbbbbb;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #999999;
}