.overlay {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-note {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 400px;
    width: 500px;
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

[contenteditable] {
    outline: 0px solid transparent;
}

.popup-title-div {
    min-height: 30px;
    font-size: 25px;
    font-weight: bolder;
}

.popup-title-div:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
}


.popup-body-div {
    height: 300px;
}
.popup-body-div:empty::before{
    content: attr(data-placeholder);
    color: #aaa;
}

.button-div {
    display: flex;
    flex-direction: row-reverse;
}

.apply-button {
    color: white; 
    background-color: #74b574;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #5e9f5e;
}

.cancel-button{
    background-color: #bbbbbb;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover{
    background-color: #999999;
}