.right-body {
    width: 100%;
    height: calc(100% - 167px);
    /* background-color: violet; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    /* padding-top: 100px; */
    padding: 40px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

p {
    font-size: 17px;
    line-height: 28px;
}

.note {
    background-color: #F9F9F9;
    padding: 25px;
    width: 310px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    row-gap: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 4px 6px rgba(0, 0, 0, 0.10);
}

.note-title {
    height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-body {
    height: 203px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

